{# /src/templates/Admin/Event/header-stats.html.twig #}
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-green-gradient"><i class="fa fa-globe"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Celkový počet akcí</span>
            <span class="info-box-number" id="countOfEvents">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...
            </span>
        </div>
    </section>
</section>
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-yellow-gradient"><i class="fa fa-clock-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Počet akcí s aktivní přihláškou</span>
            <span class="info-box-number" id="countOfActive">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...</span>
        </div>
    </section>
</section>