{# /src/templates/Admin/Event/list.html.twig #}
{% extends "Admin/base.html.twig" %}
{% block title %}E-Přihlášky - Seznam akcí{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content %}
    <section class="content-wrapper">
        {% include "Admin/Modules/page_path_list.html.twig" %}

        <!-- Main content -->
        <section class="content container-fluid">
            {% include "Admin/Modules/flashes.html.twig" %}
            {% include "Admin/Modules/db_save_flashes.html.twig" %}
            {% include "Admin/Event/header-stats.html.twig" %}

            {% include "Admin/Event/event-list.html.twig" %}

        </section>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datatables') }}
{% endblock %}