{# /src/templates/Admin/Event/signed-children.html.twig #}
<section class="col-xs-12">
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h1 class="box-title"> Přihlášené děti na akci {{ event.nameFull }} </h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="signedChildren" class="table table-hover table-striped table-bordered table-responsive">
                <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Zkratka</th>
                    <th>Celý název</th>
                    <th>Začátek</th>
                    <th>Konec</th>
                    <th>Typ</th>
                    <th>Adresa</th>
                    <th>Aktivní přihláška</th>
                    <th>Kapacita</th>
                    <th>Cena člen</th>
                    <th>Cena nečlen</th>
                    {% if is_granted("ROLE_EDIT_EVENT") or is_granted("ROLE_DELETE_EVENT") %}
                        <th>Akce</th>
                        <th>Smazáno?</th>
                    {% endif %}

                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<script>
    var ajaxSignedChildrenList;
    {% if is_granted("ROLE_DELETE_APPLICATION") %}
        ajaxSignedChildrenList = "/api/applications?groups[]=person";
    {% else %}
        ajaxSignedChildrenList = "/api/events?deleted=false&groups[]=person";
    {% endif %}
    var columns = [
        {"data": "id"},
        {"data": "nameShort"},
        {"data": "nameFull"},
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("simpleDate", data.dateStart);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("simpleDate", data.dateEnd);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("type", data.type);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("address", data.address);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("activeApplication", data.activeApplication);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("capacity", data.capacity);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("priceMember", data.priceMember);
            }
        },
        {
            "data": null,
            render: function (data) {
                return ajaxPrepare("priceOther", data.priceOther);
            }
        },
        {% if is_granted("ROLE_EDIT_PERSON") or is_granted("ROLE_DELETE_PERSON") %}
        {
            "data": null,
            render: function(data) {
                return  '<div class="btn-group-vertical">' +
                    '<a href="/admin/akce/zobrazit/'+data.id+'" class="btn btn-block btn-info"><i class="fa fa-fw fa-info"></i>Informace</a>' +
                    '<a href="/admin/akce/upravit/'+data.id+'" class="btn btn-block btn-success"><i class="fa fa-fw fa-wrench"></i>Upravit</a>' +
                    '</div>'
            }
        },
        {
            "data": null,
            render: function(data) {
                if (data.deleted) {
                    return '<span class="label label-danger">SMAZÁN!</span>'
                } else {
                    return '<span class="label label-default">Nikoliv</span>';
                }
            }
        },
        {% endif %}


    ];
</script>
<script src="{{ asset("js/datatables/event-signed-children.js") }}"></script>