{# /src/templates/Admin/Ev/view.html.twig #}
{% extends "Admin/base.html.twig" %}
{% block title %}E-Přihlášky - Zobrazení akce{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('adminlte/bower_components/datatables/datatables.min.css') }}">
{% endblock %}
{% block content %}
    <section class="content-wrapper">
        {% include "Admin/Modules/page_path_list.html.twig" %}

        <!-- Main content -->
        <section class="content container-fluid">
            {% include "Admin/Modules/flashes.html.twig" %}
            {% include "Admin/Modules/db_save_flashes.html.twig" %}
            {% include "Admin/Event/header-stats.html.twig" %}

            {% include "Admin/Event/single-event-view.html.twig" %}
            {# TODO: Signed people/children #}

            {% include "Admin/Event/event-list.html.twig" %}

        </section>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("adminlte/bower_components/datatables/datatables.min.js") }}"></script>
{% endblock %}