api_platform:
    title: 'E-PŘIHLÁŠKY API'
    description: 'REST API for e-applications of T.O.Severka'
    version: '1.0.0'
    defaults:
        pagination_enabled: true
        pagination_items_per_page: 15 # default
    collection:
        pagination:
            enabled_parameter_name: pagination # optional
    formats:
        json:
            mime_types:
                - application/json
        html:
            mime_types:
                - text/html
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
