{# /src/templates/Admin/Person/header-stats.html.twig #}
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-green-gradient"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Celkový počet rodičů</span>
            <span class="info-box-number" id="countOfParent">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...
            </span>
        </div>
    </section>
</section>