{# /src/templates/Admin/home.html.twig #}
{% extends "Admin/base.html.twig" %}
{% block title %}Administrace{% endblock %}
{% block content %}
    <section class="content-wrapper">
        <!-- Page Header -->
        <section class="content-header">
            <h1>
                {{ page_name }}
            </h1>
            <ol class="breadcrumb">
                {% for path_part in page_path %}
                <li class="active">{{ path_part }}</li>
                {% endfor %}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Your Page Content Here |
              -------------------------->

        </section>
        <!-- /.content -->
    </section>
{% endblock %}