{# /src/templates/Admin/Person/header-stats.html.twig #}
<section class="col-md-3 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-user"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Celkový počet uživatelů</span>
            <span class="info-box-number" id="countOfUsers">Chybně načteno.</span>
        </div>
    </section>
</section>
<section class="col-md-3 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-user-secret"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Počet administrátorů</span>
            <span class="info-box-number" id="countOfAdmins">Chybně načteno.</span>
        </div>
    </section>
</section>
<section class="col-md-3 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-user-circle-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Počet vedoucích</span>
            <span class="info-box-number" id="countOfLeaders">Chybně načteno.</span>
        </div>
    </section>
</section>
<section class="col-md-3 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-blue"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Počet rodičů</span>
            <span class="info-box-number" id="countOfParents">Chybně načteno.</span>
        </div>
    </section>
</section>