{# /src/templates/Admin/Person/list.html.twig #}
{% extends "Admin/base.html.twig" %}
{% block title %}E-Přihlášky - Seznam uživatelů{% endblock %}
{% block content %}
    <section class="content-wrapper">
        {% include "Admin/Modules/page_path_list.html.twig" %}

        <!-- Main content -->
        <section class="content container-fluid">

            <!--------------------------
              | Your Page Content Here |
              -------------------------->

        </section>
    </section>
{% endblock %}