<section class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-list"></i>
            <h1 class="box-title"> Všechny děti </h1>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="people" class="table table-hover table-striped table-bordered table-responsive">
                <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Jméno <br>a příjmení</th>
                    <th>Rodič</th>
                    <th>Adresa</th>
                    <th>Datum narození</th>
                    <th>Pohlaví</th>
                    <th>Velikost trička</th>
                    <th>Člen</th>
                    {% if is_granted("ROLE_EDIT_PERSON") or is_granted("ROLE_DELETE_PERSON") %}
                        <th>Akce</th>
                        <th>Smazán?</th>
                    {% endif %}

                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
{% block javascripts %}
<script>
    let ajaxURL;
    let admin;
    {% if is_granted("ROLE_DELETE_CHILDREN") %}
    ajaxURL = "/api/children&groups[]=parent&groups[]=address";
    admin = true;
    {% else %}
    ajaxURL = "/api/children?deleted=false&groups[]=parent&groups[]=address";
    admin = false;
    {% endif %}
</script>
{{ encore_entry_script_tags("children-list") }}
{% endblock %}
