{# /src/templates/Admin/Person/header-stats.html.twig #}
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-yellow-gradient"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Celkový počet dětí</span>
            <span class="info-box-number" id="countOfChildren">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...
            </span>
        </div>
    </section>
</section>
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-green-gradient"><i class="fa fa-user-circle-o"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Počet členů</span>
            <span class="info-box-number" id="countOfMembers">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...</span>
        </div>
    </section>
</section>
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-red-gradient"><i class="fa fa-female"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Počet holek</span>
            <span class="info-box-number" id="countOfGirls">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...</span>
        </div>
    </section>
</section>
<section class="col-md-6 col-sm-6 col-xs-12">
    <section class="info-box">
        <span class="info-box-icon bg-blue-gradient"><i class="fa fa-male"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Počet kluků</span>
            <span class="info-box-number" id="countOfBoys">
                <i class="fa fa-spinner fa-spin fa-fw"></i>
                Načítání...</span>
        </div>
    </section>
</section>